<!-- START THE FEATURETTES -->
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">About us... <span class="text-muted">Long story short!</span></h2>
      <p class="lead"><strong>Paris</strong>, the cosmopolitan capital of France, is one of the largest agglomerations in Europe, with 2.2 million people living in the dense, central city and almost 12 million people living in the whole metropolitan area. Located in the north of France on the river Seine, Paris has the well deserved reputation of being the most beautiful and romantic of all cities, brimming with historic associations and remaining vastly influential in the realms of culture, art, fashion, food and design. Dubbed the City of Light (la Ville Lumière) and Capital of Fashion, it is home to the world's finest and most luxurious fashion designers and cosmetics. A large part of the city, including the River Seine, is a UNESCO World Heritage Site. </p>
      <p><em>Source: <a href="http://wikitravel.org">wikitravel.org</a></em></p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="/img/sample.jpg" alt="Generic placeholder image">
    </div>
  </div>

<!-- /END THE FEATURETTES -->