   <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/img/afro.jpg" alt="Aphrodite" width="140" height="140">
          <h2>Venus de Milo</h2>
          <p>Aphrodite of Milos, better known as the Venus de Milo, is an ancient Greek statue and one of the most famous works of ancient Greek sculpture, which was discovered in 1820 on the island of Milos.</p>
          <p><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/img/louvre.jpg" alt="Louvre" width="140" height="140">
          <h2>Paintings</h2>
          <p>Louvre's Paintings encompass every European school from the 13th century to 1848. The collection is overseen by twelve curators, who are among the most renowned experts in their field.</p>
          <p><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/img/eros.jpg" alt="Eros" width="140" height="140">
          <h2>Eros and Psyche</h2>
          <p>This winged young man who has just landed on a rock where a girl lies unconscious, is the god Eros and can be recognized by his wings and his quiver filled with arrows. The girl’s name is Psyche. </p>
          <p><a class="btn btn-default" href="#" role="button">Read more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      
<!-- Quote of the day: AngularJS
    ================================================== -->
    <h4 class="qt" ng-controller="quoteCtrl"><em>Quote of the day: <span ng-bind="quote"></span><em></h4>
    <br><br>