<!DOCTYPE html>
<html lang="en" ng-app="app" ng-cloak>

  <head>
    {{>head}}
  </head>

  <body>
  <div class="container marketing main">
      {{>navbar}}
      {{{body}}}
      {{>footer}}

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="/js/app.js"></script>
  </body>

</html>