// Descriptive color variables

$color-header-txt		: #eeeeee;
$color-header-bg 		: #333333;

$color-footer-txt		: #eeeeee;
$color-footer-bg 		: #224660;
$color-footer-a 		: #acacac;
$color-footer-a-hover	: #d46792;

$color-main-txt			: #eeeeee;

$color-li-txt			: #000000;
$color-li-bg			: #f9f9f9;
$color-li-border		: #eeeeee;
$color-li-hover			: #eeeeee;
$color-li-active-txt	: #ffffff;
$color-li-active-bg		: #0099FF;

$color-waves-top		: #ffffff;
$color-waves-main		: #4488bb;

// Fonts

$fonts-sans-serif : Arial, Helvetica, sans-serif;